header {
    display: flex;
    flex-direction: row;
}

header input {
    border: 1px solid #aaa;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 25px;
    margin-right: 0;
}

header button {
    font-size: 12px;
    color: #fff;
    margin-left: 0;
    background-color: #ED1C24;
    border: 1px solid #990000;
    padding: 1px 15px;
}

header .logo {
    flex: 1 0 auto;
    order: 1;
}

header .logo > a:before {
    content: url(../img/serena_logo.gif);
}

header .logo > h1 {
    display: inline-block;
    font-size: 27px;
    margin: -2px 0 0 10px;
    vertical-align: top;
}

header .search-contact {
    flex: 0 0 auto;
    order: 2;
}

nav li.active {
    background: linear-gradient(to bottom, #e51920 1%, #a90507 100%);
}

nav li.active a {
    color: #fff;
}

nav.tabs {
    background: linear-gradient(to bottom, #646464 0%, #323232 100%);
    color: #eee;
    margin-bottom: 15px;
}

nav.tabs ul {
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

nav.tabs ul > li {
    padding: 10px 20px;
}

nav.tabs ul > li:last-child {
    flex: 1 0 auto;
    margin: 0;
    text-align: right;
}

.tab-content {
    display: flex;
    flex-direction: row;
}

.nav-favourite {
    flex: 0 0 20%;
    order: 1;
    margin-right: 20px;
}

.contacts {
    flex: 1 1 auto;
    order: 2;
}

.contacts .contacts-header {
    background-color: #eee;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.contacts .contacts-header-text {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.contacts .contacts-header-text h2 {
    margin-top: 5px;
    padding: 10px 0;
}

.contacts span.icon.folder-red {
    display: block;
    padding: 0 48px 0 20px;
    margin-top: -4px;
    background: url(../img/folder_red_favorites.png) no-repeat center;
}

.contacts .contacts-header a:first-child {
    margin-right: 0;
}

.contacts .contacts-header a {
    margin-right: 15px;
    flex: 0 1 24px;
}

.contacts .contacts-header a.action {
    margin-top: 15px;
    display: block;
}

.contacts .contacts-header a.edit {
    background: url(../img/edit_small.png) no-repeat;
}

.contacts .contacts-header a.edit:hover {
    background: url(../img/edit_small_hover.png) no-repeat;
}

.contacts .contacts-header a.delete {
    background: url(../img/delete_small.png) no-repeat;
}

.contacts .contacts-header a.delete:hover {
    background: url(../img/delete_small_hover.png) no-repeat;
}

ul.contacts-list {
    display: inline-block;
}

.contacts-list li {
    width: 170px;
    height: 200px;
    border: 5px solid #ddd;
    background-color: #eee;
    margin: 0 10px 10px 0;
    display: inline-block;
}

.contacts-list a {
    text-decoration: none;
}

.contacts-list .credentials .name, .last-name, .position {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.contacts-list .name {
    color: #000000;
    font-weight: bold;
    display: block;
}

.contacts-list .name .last-name {
    text-transform: uppercase;
    display: block;
}

.contacts-list .position {
    font-size: 13px;
    color: #777;
}

.contacts-list .photo {
    max-width: 170px;
    max-height: 130px;
}

.contacts-list .credentials {
    margin: 0 10px;
}

.contacts-list .credentials {
    background-color: #eee;
}

.nav-favourite .nav-header {
    display: flex;
    flex-direction: row;
    background-color: #eee;
    padding: 3px 0 6px 6px;
}

.nav-favourite .nav-header-text {
    font-weight: bold;
    margin-top: 4px;
}

.nav-favourite span.icon {
    padding: 4px 15px 2px 15px;
    display: inline;
}

.nav-favourite span.icon.star {
    background: url(../img/star_small.png) no-repeat;
}

.nav-favourite span.icon.folder-red-small {
    background: url(../img/folder_red_favorites_small.png) no-repeat;
}

.nav-favourite ul {
    background-color: #ccc;
}

.nav-favourite li {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    padding: 5px;
}

.nav-favourite li span {
    margin-bottom: -4px;
}

.nav-favourite li a {
    color: #000;
    text-decoration: none;
}

footer {
    margin-top: 20px;
    background-color: #eee;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

footer > span {
    color: #aaa;
    flex: 1 1 auto;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer ul > li:first-child {
    margin-left: 0;
}

footer ul > li {
    margin-left: 20px;
}

footer a {
    color: #990000;
}

@media all and (max-width: 640px) {

    header {
        flex-flow: column;
        flex-direction: column;
    }

    .nav-favourite span.icon {
        padding: 0;
    }

    header .search-contact {
        margin-bottom: 10px;
    }

    nav.tabs ul > li {
        padding: 10px 9px;
    }
}

@media all and (max-width: 480px) {

    nav.tabs ul {
        flex-flow: column;
        flex-direction: column;
    }

    nav.tabs ul > li {
        margin-right: 0;
    }

    nav.tabs ul > li:last-child {
        text-align: left;
    }

    .tab-content {
        flex-flow: column;
        flex-direction: column;
    }

    .nav-favourite {
        flex: 0 0 auto;
        order: 1;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .contacts .contacts-header {
        margin-bottom: 5px;
    }

    .nav-favourite span.icon {
        padding: 4px 15px 2px 15px;
    }
}